<!DOCTYPE html>
<html>
    <head>
        <title> Yelp Camp </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/body.css">
    </head>
    <body>
        <div style ="margin:4%">
            <nav class="navbar navbar-expand-md navbar-light  fixed-top" style="color:white; background-color: black;">
                <a class="navbar-brand" href="/" style="color:white;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-image" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M10.648 7.646a.5.5 0 0 1 .577-.093L15.002 9.5V13h-14v-1l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71z"/>
                    <path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                </svg> Foodie Land</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
                </button>
          
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/campgrounds" style="color:white;">Gallery</a>
                </li>
                </ul> 
                    <ul class="navbar-nav navbar-right">
                      <% if (currentUser) { %>
                      
                        <li class="nav-item active">
                          <a class="nav-link" href="#"style="color:white;"><%=currentUser.username%><span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="/logout" style="color:white;">Logout</a>
                        </li>
                        <% } else { %>
                      
                    <li class="nav-item active">
                      <a class="nav-link" href="/login"style="color:white;">Login<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/register" style="color:white;">Signup</a>
                    </li>
                    <%  } %>
                   
                   
                   
                    </ul>
                </ul>            
                </div>        
            </nav>
            <div class="container">
            <% if(error && error.length > 0) { %>
              <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                <%= error %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% } %>
            <% if(success && success.length > 0) { %>
              <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                <%= success %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% } %>
          </div>
        </div>

        
